
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: black;
}


/* Some common styles */

.bold-color{
    color: #FFFFFF;
}

.small-paragraph-color{
    color: rgba(255, 255, 255, 0.5);
 }



 .display-flex{
    display: flex;
 }




 /* Header part styles */

 .nav-container{
    justify-content: space-around;
    align-items: center;
 }

 .company-title{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    margin: 0px;
 }

 .details-list{
    height: 38px;
    width: 450px;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
 }

 .home{
   background-color: rgb(230, 83, 60);
   width: 50px;
   height: 20px;
   font-size: 18px;
   font-weight: 600;
   border-radius: 46px;
   padding: 8px 20px;
   text-align: center;
   align-items: center;
 }

 /* Banner part styles */

.banner-container-1{
    max-width: 520px;
    /* margin-left: 200px; */
}
 .banner-container-1-title{
    font-size: 48px;
    font-weight: 900px;
 }

 .banner-container-1-description{
    font-size: 16px;
    font-weight: 400;
 }

 .join-club-button{
    height: 50px;
    width: 220px;
    padding: 16px 40px 16px 40px;
    background-color: rgb(230, 83, 60);
    border: 1px solid white;
    border-radius: 40px;
 }

 .download-app-button{
    height: 50px;
    width: 220px;
    padding: 16px 40px 16px 40px;
    background-color: black;
    border: 1px solid white;
    border-radius: 40px;
 }

 /* Change Your Habit styles */

 .change-habit-container{
   background-color: black;
   max-width: 1045px;
   margin: 0 auto;
 }

 .change-habit-container{
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .change-habit-container img{
    border-radius: 50%;
 }

 .change-habit-title{
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 14px;
 }

 .change-habit-description{
    font-size: 14px;
    font-weight: 400;
 }



.change-habit-img-container1{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.change-habit-img-container2{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.change-habit-img-container3{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.change-habit-img-container4{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Run extra mile part styles */

.run-extra-mile-container{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px 50px;
    justify-content: space-between; 
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}

.run-extra-mile-container1{
    height: 280px;
    width: 440px;
}

.run-extra-mile-container1-title{
    font-size: 45px;
    font-weight: 900;
}

.run-extra-mile-container1-description{
    font-size: 14px;
    font-weight: 400;
}

.run-extra-mile-container2>img{
    height: 310px;
    width: 365px;
    border-radius: 18px;
}

.primary-btn{
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    padding: 16px 70px;
    border-radius: 30px;
}

/* Meet out team styles */
.meet-our-team{
    max-width: 1050px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.meet-our-team-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

.meet-out-team-description{
    font-size: 14px;
    font-weight: 400;
}

.meet-our-team-container{
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}


.meet-our-team-container img{
    height: 270px;
    width: 320px;
    border-radius: 18px;
}
.meet-our-team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
}

.member-name{
   margin-bottom: 3px;
}
.member-description{
    margin-top: -85px;
}


/* footer part styles */

.footer{
    /* max-width: 1050px; */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
   
}

.footer1{
    justify-content: space-evenly;
    align-items: center;
}
.primary-title{
  font-size: 70px;
  font-weight: 800;  
  margin-bottom: 20px;
  color: rgb(230, 83, 60);
}

.footer-description{
    font-size: 14px;
    font-weight: 400;
}

.footer-part-1{
    width: 410px;
}

.get-started{
    font-size: 32px;
    font-weight: 700;
}

.last-section{
    max-width: 1060px;
    margin: 0 auto;

}

.welcome{
    text-align: center;
}

hr{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.1);
}

.welcome{
    margin-top: 30px;
}

.footer2{
    /* margin-bottom: 30px; */
    padding-bottom: 30px;
}

/* Responsive styles */

@media screen and (max-width: 576px){
    .change-habit-container,
    .change-habit-image-container,
    .run-extra-mile-container,
    .footer1{
        flex-direction: column;
        /* width: calc(100% - 60px); */
        /* margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px; */
        /* margin: 40px 30px; */
    }

    .run-extra-mile-container1{
        /* width: calc(100% - 60px); */
        align-items: center;
        text-align: center;
        /* padding-left: 30px;
        padding-right: 30px; */
    }

   

    .run-extra-mile-container1-title{
        font-weight: 900;
        font-size: 32px;
        margin: 0 auto;
    }


    .run-extra-mile-container1>.primary-btn{
        height: 50px;
        width: 280px;
        border-radius: 30px;
    }


    .meet-our-team-container{
        grid-template-columns: repeat(1,1fr);
    }


}

